.Container {
  padding: 10px ;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  min-width: 300px;
  max-width: 100%;
  overflow-x: auto; /* Allows horizontal scroll if content overflows */
  box-sizing: border-box; /* Ensures padding doesn't increase size */
}
